# macOS
.DS_Store

# Editor
*~
*.sw[a-z]

# IDE
.vscode/
.idea/
.ipynb_checkpoints/

# Python
__pycache__/
*.py[codz]
*$py.class
.venv/
.pytest_cache/
.ruff_cache/

# Hugo
.hugo_build.lock
public/
resources/
